<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <h1>Login To ExpenseTracker</h1>
  <form id="loginform">
    <label for="email">User Email:</label>
    <input type="email" id="email">
    <label for="password">User Password:</label>
    <input type="text" id="password">
    <button><a href="Expense.html">Login</a></button>  
  </form>
</body>
</html>
