<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>
</head>
<body>
  <h1>SignUp To ExpenseTracker</h1>
  <form id="signupform">
    <label for="name">User Nmae:</label>
    <input type="text" id="name">
    <label for="email">User Email:</label>
    <input type="email" id="email">
    <label for="pass">User Password:</label>
    <input type="text" id="password">
    <button type="submit">SignUp</button>
  </form>
  <a href="login.html">Existing User</a>
  <script src="script.js"></script>
</body>
</html>
