a {
    cursor: pointer;
}
#form-container {
    display: flex;
    align-items: center; /* Align items vertically */
}

#name-container, label, input {
    display: inline-block; /* Display on the same line */
    margin-right: 10px; /* Add some spacing between elements */
}

button {
    display: inline-block;
}